<div class="transaction-details">
   <h3> Total Payment: <%= @total_amount %>$</h3>
  <div class="transaction">
  <%= image_tag @category.icon if @category.icon.attached? %>
  <h3>
   <%= @category.name %>
  </h3>

 </div>
<ul>
  <% @transactions.each do |transaction| %>
    <li><%= transaction.name %> <small> <%= transaction.amount %>$</small></li>
  <% end %>
</ul>

</div>

<div class="links new-transaction">
  <%= link_to "Add a new transaction", new_category_transaction_budget_path(@category), class: "btn-create" %>
</div>
