<h1>Transactions for <%= @category.name %></h1>
Total Amount: <%= @total_amount %>
<ul>
  <% @transactions.each do |transaction| %>
    <li><%= transaction.name %> - Amount: <%= transaction.amount %></li>
  <% end %>
</ul>
<%= link_to "Add a new transaction", new_category_transaction_path(@category) %>
<%= link_to "Back", categories_path %>
