<%= form_for [@category, @transaction], url: category_transaction_budgets_path(@category), local: true, data: { turbo: false } do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <% if @transaction.errors[:name].any? %>
    <div class="error">
      <%= @transaction.errors[:name].join(', ') %>
    </div>
  <% end %>

  <%= form.label :amount %>
  <%= form.number_field :amount %>
  <% if @transaction.errors[:amount].any? %>
    <div class="error">
      <%= @transaction.errors[:amount].join(', ') %>
    </div>
  <% end %>

  <%= form.submit 'Create Transaction' %>
<% end %>

<%= link_to 'Back', category_transaction_budgets_path(@category), class: 'btn' %>
