<section class='category-list'>
  <% if @categories.empty? %>
    <h2 class='empty'> There is no category yet! </h2>
  <% else %>
    <ul class='category-list'>
      <% @categories.each do |category| %>
        <li class="category">
          <%= link_to category_transaction_budgets_path(category), class: 'cat-link' do %>
            <%= image_tag category.icon if category.icon.attached? %>
            <%# <div class='cat-info'> %>
              <p><%= category.name %></p>
              <p> <%= category.transaction_budgets.sum(:amount) %> $</p>
            <%# </div> %>
          <% end %>
              <small class="date"> <%= category.created_at.strftime('%d/%m/%Y') %></small>
          <%# <%= link_to 'Add a new transaction', new_category_transaction_budget_path(category), class: 'btn btn-primary' %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <%= link_to '+ New Category', new_category_path, class: 'btn-new-cat' %>
  <%= link_to 'Back', categories_path %>
</section>
