<h1>Your Categories</h1>
<ul>
  <% @categories.each do |category| %>
    <li>
      <%= category.name %>
      Icon: <%= image_tag category.icon if category.icon.attached? %>
      Total Amount: <%= category.transaction_budgets.sum(:amount) %>
      <%= link_to "View Transactions", category_transaction_budgets_path(category) %>
    </li>
  <% end %>
</ul>
<%= link_to "Add a new transaction", new_category_transaction_budget_path, class: "btn btn-primary" %>
<%= link_to "Back", categories_path %>
