<%= form_with(model: @category, url: categories_path) do |form| %>
  <div class="field">
    <%= form.text_field :name, placeholder: 'Category Name'%>
  </div>

  <div class="field">
    <%= form.file_field :icon, placeholder:"Choose Icon" %>
  </div>
  <div class="actions">
  <%= form.submit 'Create Category', class: "btn-create" %>
  </div>
<% end %>

  <div class="field">
    <%= link_to "Back", categories_path, class:'back'%>
    </div>
